.hero {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.hero::before {
  content: url(/3d-circles.png);
  position: absolute;
  z-index: -999;
  top: 100px;
  left: -370px;
}

.hero::after {
  content: "";
  border: 1px solid white;
  border-radius: 1000px;
  width: 130px;
  height: 130px;
  position: absolute;
  z-index: 999;
  top: 70vmin;
  right: -65px;
}

.flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.title {
  margin-top: 2rem;
}

.name,
.email {
  text-decoration: underline;
  text-decoration-color: var(--clr-accent);
}

.name {
  text-underline-offset: .25em;
}

.paragraph {
  margin-top: 3rem;
  max-width: 60ch;
}

.email {
  font-style: normal;
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: .12em;
  line-height: 2em;
  text-underline-offset: .5em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.cta {
  text-transform: uppercase;
}

.links {
  width: 100%;
}
  
.links > * {
  justify-content: center;
}

.photo {
  width: 60%;
  max-width: 18.75em;
  object-fit: cover;
  object-position: top center;
}

@media only screen and (min-width: 40em) {
  .hero {
    text-align: unset;
  }

  .flex {
    flex-direction: row;
    align-items: center;
  }

  .hero::before {
    left: -240px;
  }

  .hero::after {
    top: 75%;
  }

  .left-column {
    position: relative;
    z-index: 999;
  }
  
  .title {
    margin-top: 6rem;
    width: calc(100% + 2ch);
    max-width: 13ch;
  }
  
  .paragraph {
    width: calc(100% + 5ch);
    max-width: 50ch;
  }

  .photo {
    margin-right: -5.5%;
  }

  .links > * {
    justify-content: start;
  }
}

@media only screen and (min-width: 55em) {
  .photo {
    margin-right: 0;
    max-width: 26.25em;
  }

  .hero::after {
    all: unset;
  }

  .left-column {
    position: relative;
  }

  .left-column::after {
    content: "";
    border: 1px solid white;
    border-radius: 1000px;
    width: 130px;
    height: 130px;
    position: absolute;
    right: -65px;
    bottom: -35px;
  }
}

@media only screen and (min-width: 75em) {
  .hero::before {
    left: -120px;
  }

  .photo {
    aspect-ratio: 1 / 1.85;
    object-position: bottom center;
  }
}