.header {
  margin-top: .5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 24em) {
  .header {
    margin-top: 1rem;
  }
}