.header {
  margin-top: 1rem;
  position: absolute;
  z-index: 999;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 31.25em) {
  .header {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 78em) {
  .header {
    padding-right: 4rem;
  }
}