.footer {
  background-color: var(--clr-secondary);
  padding: 4rem 0;  
  position: relative;
  overflow: hidden;
  margin-top: 7rem;
}

.footer::before {
  content: url(/3d-circles.png);
  position: absolute;
  z-index: 999;
  bottom: 28%;
  right: -400px;
}

.text {
  margin-top: 1.5rem;
  max-width: 38ch;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.email {
  font-style: normal;
}

hr {
  margin-top: 1rem;
}

@media only screen and (min-width: 28em) {
  .footer {
    margin-top: 8rem;
    padding: 4rem 0;
  }

  .footer::before {
    right: -300px;
  }

  .email {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 40em) {
  .footer {
    margin-top: 8rem;
  }

  .footer::before {
    bottom: unset;
    top: 5%;
    right: -220px;
  }

  .text {
    max-width: 45ch;
  }
}

@media only screen and (min-width: 55em) {
  .footer {
    text-align: left;
    margin-top: 8rem;
  }

  .footer::before {
    top: 15%;
    left: unset;
    right: -250px;
  }

  .text {
    margin: 1rem 0 0;
  }

  .email {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 75em) {
  .footer {
    margin-top: 8rem;
  }

  .footer::before {
    right: -100px;
  }
}