/* UTILITY CLASSES */
.heading-xl {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 5.5rem;
  letter-spacing: -0.15625rem;
  color: var(--clr-font-primary);
}

.heading-l {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: -0.09375rem;
  color: var(--clr-font-primary);
}

.heading-m {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--clr-font-primary);
}

.body-l {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--clr-font-secondary);
}

@media only screen and (min-width: 24em) {
  .heading-xl {
    font-size: 4.5rem;
  }
  
  .heading-l {
    font-size: 3rem;
  }

  .heading-m {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 48em) {
  .heading-xl {
    font-size: 5.5rem;
  }
}