/* UTILITY CLASSES */
.container {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.heading-xl {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: -.025em;
  color: var(--clr-font-primary);
}

.heading-l {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: -0.025em;
  color: var(--clr-font-primary);
}

.heading-m {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1em;
  color: var(--clr-font-primary);
}

.body-l {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--clr-font-secondary);
}

@media only screen and (min-width: 28em) {
  .heading-xl {
    font-size: 4rem;
  }
  
  .heading-l {
    font-size: 3rem;
  }

  .heading-m {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 55em) {
  .heading-xl {
    font-size: 5.5rem;
    letter-spacing: -0.03em;
  }
}

/* TODO: Add hover/active/focus styles to interactive elements */